# Use this .gitignore file to track
# files that are in the repository but
# should not be published.
#
# config.json is one of them, since installation
# generates it automatically:

config.json

# I sometimes change .replit, so let's ignore
# it for the Repl.it users.

.replit
data/accounts/admin/avatar.png
data/accounts/admin/psw.txt
data/accounts/admin/user.txt
data/messages/Sandbox/webchat.txt
data/messages/web-chat/webchat.txt
data/messages/Meta-Discussion/webchat.txt
data/accounts/user2762153624/avatar.png
